<div class="row" ng-controller="knowageDetail as kD">
    <div class="col-sm-9">
        <h3 class="mb-3">Knowage Dashboard</h3>
        <table class="table table-bordered">
            <tr>
                <th>Descrição</th>
                <td></td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td></td>
            </tr>
            <tr>
                <th>Criador</th>
                <td></td>
            </tr>
            <tr>
                <th>Data de criação</th>
                <td></td>
            </tr>
            <tr>
                <td>
                    <!-- Modal -->
                    <div class="modal fade bd-modal-dashboards" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl d-flex justify-content-center" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">TESTE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <div height="300px" style="display:none" width="800px" id='targetDiv'></div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Abrir
                    </button>
                    
                    </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>