<div class="row" id="authentication" ng-controller="knowageLogin as kL">
    <h3 class="border-bottom pb-2 mb-5">Knowage Login</h3>
    <table class="table table-bordered" >
        <tr ng-show="kL.showBool">
            <td colspan="2" ng-class="kL.resClass">{{ kL.showMsg }}</td>
        </tr>
        <tr ng-show="kL.formBool" class="mb-4">
            <td colspan="2" ng-class="kL.resClass">{{ kL.formMsg }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td><input type="text" id="knowageName" class="form-control" placeholder="Insira o seu nome no knowage" ng-init="kL.knowageName=''" ng-model="kL.knowageName"/></td>
        </tr>
        <tr>
            <th>Palavra-passe</th>
            <td><input type="password" id="knowagePass" class="form-control" placeholder="*****" ng-init="kL.knowagePass=''" ng-model="kL.knowagePass" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" ng-click="kL.knowageAuth()" class="btn btn-dark" />
            </td>
        </tr>
    </table>
</div>
