.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  /* angularjs Animation */
.bielement-list.ng-enter,
.bielement-list.ng-leave,
.bielement-list.ng-move {
  transition: 0.5s linear all;
}

.bielement-list.ng-enter,
.bielement-list.ng-move {
  opacity: 0;
}

.bielement-list.ng-enter.ng-enter-active,
.bielement-list.ng-move.ng-move-active{
  opacity: 1;
}

.bielement-list.ng-leave{
  opacity: 1;
}

.bielement-list.ng-leave.ng-leave-active {
  opacity: 0;
}

.modal {
  padding: 0 !important;
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}
