.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  /* angularjs Animation */
.bielement-list.ng-enter,
.bielement-list.ng-leave,
.bielement-list.ng-move {
  transition: 0.5s linear all;
}

.bielement-list.ng-enter,
.bielement-list.ng-move {
  opacity: 0;
}

.bielement-list.ng-enter.ng-enter-active,
.bielement-list.ng-move.ng-move-active{
  opacity: 1;
}

.bielement-list.ng-leave{
  opacity: 1;
}

.bielement-list.ng-leave.ng-leave-active {
  opacity: 0;
}

.bd-modal-dashboards .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-modal-dashboard .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}