<div ng-controller="bielementList as vm">
<div class="row">
    <div class="input-group mb-5 col-12">
        <input type="text" class="form-control form-control-lg" ng-keyup="vm.searchClick()" ng-model="vm.searchText" placeholder="Pesquise por o título do elemento BI..." />
        <div class="input-group-append">
          <button class="btn btn-danger btn-lg" type="button" ng-click="vm.searchClick()" id="button-addon2">Pesquisar</button>
        </div>
    </div>
</div>

<div class="row" id="bielements">
    <div class="col-md-4 bielement-list" ng-repeat="bielement in vm.allbielements">
        <div class="card mb-4 shadow-sm">
            <img class="img-fluid" src="storage/bielements/{{ bielement.bi_cover_img }}" />
            <div class="card-body">
                <h4><a href="#!/bielementdetail/{{ bielement.id }}">{{ bielement.bi_name }}</a></h4>
                <p class="card-text">{{ bielement.bi_desc }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a href="#!/bielementdetail/{{ bielement.id }}" class="btn btn-primary">
                        <i class="fa fa-eye"></i> Detalhe
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="row">
    <div class="col-12">
        <nav>
          <ul class="pagination">
            <li ng-repeat="page in [] | range:vm.pageLinks" ng-click="vm.pageLinkClick(page)" class="page-item">
                <a class="page-link" href="#!/bielement-list/page/{{ page }}">{{ page }}</a>
            </li>
          </ul>
        </nav>
    </div>
</div>

</div>