<div class="row" ng-controller="bookDetail as bd">
    <div class="col-sm-3">
        <img class="img-fluid" src="storage/books/{{ bd.bookData.book_cover_img }}" alt="{{ bd.bookData.book_name }}" />
    </div>
    <div class="col-sm-9">
        <h3 class="mb-3">{{ bd.bookData.book_name }}</h3>
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <td>{{ bd.bookData.book_desc }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ bd.bookData.book_author }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ bd.bookData.book_publisher }}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{ bd.bookData.book_publish_date }}</td>
            </tr>
            <tr>
                <td><a href="{{ bd.bookData.book_pdf }}" download class="btn btn-success">Download</a></td>
                <td>
                    <button ng-hide="bd.collected" class="btn btn-danger" ng-click="bd.collectBook(bd.bookData.id)"><i class="fa fa-heart"></i> {{ bd.statusText }}</button>
                    <p ng-show="bd.collected">Added in your collection</p>
                </td>
            </tr>
        </table>
    </div>
</div>